$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  font-size: 16px;
  font-family: sans-serif;
  background-color: #0E7D77;
  color: #CFCEDF;
}
#current-weather {
  display: none;
}
#hourly-forecast {
  padding-top: 20px;
  display: none;
}
#hourly-forecast-head {
  display: none;
}
.locationTime {
  font-size: 20px;
  float: left;
}
.locationTemp {
  font-size: 30px;
  float: right;
}
.locationSummary {
  font-size: 15px;
  text-align: center;
}
.hourly-info {
  width: 90%;
  padding: 10px;
  float: left;
  clear: both;
  border: 1px solid #4E4E53;
  text-align: center;
}
input {
  border: 2px solid #4E4E53;
  border-radius: 10%;
}
